{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'owner/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'owner/css/xadmin.css' %}">
    <link rel="stylesheet" href="{% static 'owner/lib/layui/css/layui.css' %}" media="all">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'owner/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'owner/js/xadmin.js' %}"></script>
</head>
<body>
{#<div class="x-body layui-anim layui-anim-up">#}
{#    <form class="layui-form" method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <div class="layui-form-item">#}
{#            <label for="L_repass" class="layui-form-label">#}
{#                <span class="x-red">*</span>添加版权文件#}
{#            </label>#}
{#            <div class="layui-input-inline">#}
{#                <input type="file" id="L_repass" name="prodcut_files" required=""#}
{#                       autocomplete="off" class="layui-input" multiple>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#        <div class="layui-form-item">#}
{#            <input type="submit" class="layui-btn" lay-filter="add" value="修改">#}
{#        </div>#}
{#    </form>#}
{#</div>#}
{#                   <div id="info_box"></div>#}
{#<script>#}
{#    var fileDom = document.getElementById("file");#}
{#    var infoBoxDom = document.getElementById('info_box');#}
{##}
{#    fileDom.addEventListener("change", upload, true);#}
{##}
{#    function upload() {#}
{#        var list = this.files;#}
{#        for (var i = 0; i < list.length; i++) {#}
{#            infoBoxDom.innerHTML += list[i].name + "<br>";#}
{#        }#}
{#        infoBoxDom.innerHTML += list.length + '个文件';#}
{#    }#}
{#</script>#}

<script>
    {#layer.open({#}
    {#    type: 1 //Page层类型#}
    {#    , area: ['800px', '450px']#}
    {#    , title: '消息'#}
    {#    , shade: 0.6 //遮罩透明度#}
    {#    , maxmin: true //允许全屏最小化#}
    {#    , anim: 1 //0-6的动画形式，-1不开#}
    {#    , content: 'hello'#}
    {# });#}

    {#layer.msg('heheehhe')#}


</script>
</body>